<h3>Yêu cầu đang chờ</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Tên xe</th>
      <th>Xác nhận</th>
    </tr>
  </thead>
  <tbody>
    <% object.each do |e| %>
      <tr>
        <td><%= Vehicle.find_by(id: e.vehicle_id).brand %> <%= Vehicle.find_by(id: e.vehicle_id).model %></td>
        <td>
          <%= form_tag take_vehicle_path, method: :patch do  %>
            <%= hidden_field_tag :rental_id, e.id %>
            <%= submit_tag "Lấy xe", class: 'btn btn-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>    
