<% provide(:title, "Advanced Search") %>
<h1>Tìm kiếm nâng cao</h1>
<%= form_for @search do |f| %>
  <p>
    <%= f.label "Nhãn hiệu" %><br />
    <%= f.text_field :brand %>
  </p>
  <p>
    <%= f.label "Loại xe" %><br />
    <select name="search[isCar]">
      <option value=""></option>
      <option value="true">Ô tô</option>
      <option value="false">Xe máy</option>
    </select>
  </p>
  <p>
    <%= f.label "Khoảng giá" %><br />
    <%= f.text_field :min_price, :size => 7 %> -
    <%= f.text_field :max_price, :size => 7 %>
  </p>
  <p>
    <%= f.label "Ngày nhận" %><br />
    <%= f.date_field :start_date %>
  </p>
  <p>
    <%= f.label "Ngày trả" %><br />
    <%= f.date_field :end_date %>
  </p>  
  <p><%= f.submit "Submit" %></p>
<% end %>