<% provide(:title, @vehicle.model) %>
<h1>
   <%= @vehicle.model %>
</h1>
<div class="col-lg-6 col-md-6">
  <img src="http://thuexeotodanang.com.vn/data/thuexe/500/thue-xe-7-cho-fortuner-da-nang-1488991133.jpg">
</div>
<div class="vehicle col-lg-6 col-md-6">
	<h4>Nhãn hiệu</h4>
	<%= @vehicle.brand %>
	<h4>Đơn giá</h4>
	<%= @vehicle.price %> Đồng / Ngày
	<h4>Sô chỗ ngồi</h4>
	<%= @vehicle.seat %>
	<h4>Chi tiết</h4>
	<%= @vehicle.about %>	
</div>

<%= link_to("Đặt xe", new_rental_path(vehicle: @vehicle.id) , class: "btn btn-primary") %>